
 .modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: gray;
}
.btn {
  background: green;
  padding: 1em;
  color: #fff;
  border-radius: 3px;
}
.btn--blue {
  background: #2980b9;
}
.btn--blue:active {
  background: blue;
}
.btn--blue:hover
{
  background: #0066FF;
}
.btn--blue:focus {
  background: #3498db;
}
.btn--green {
  background: green;
}
.btn--green:active {
  background: rgb(45, 189, 45);
}
.btn--green:hover
{
  background: #32a057;
}
.btn--green:focus {
  background: #2ecc71;
}

.btn--red {
  background: #ad0404;
}
.btn--red:hover,
.btn--red:focus {
  background: #e24949;
}
.btn--red:active {
  background: red;
}
.modal-state {
  display: none;
}
.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal_size_large{
  height: 80%;
  width: 80%;
}
.modal_size_medium{
  height: 50%;
  width: 50%;
}
.modal_size_small{
  height: 40%;
  width: 40%;
}
.modal__inner{
  transition: top .25s ease;
  position: absolute;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 6px;
  padding: 1em 2em;
}
.storybook-modal--primary {
  color: white;
  background-color: rgb(54, 80, 94);
}
.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}
.modal-state:checked + .modal .modal__inner {
  top: 0;
}
.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}
@media screen and (max-width: 800px) {
  .modal__inner {
    width: 80%;
    height: 80%;
    box-sizing: border-box;
  }
}
.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}



